

/* ----- LIVES ----- */

.life {
    height: 25px;
    width: 25px;
    background-color: #F2CD48;
    border-radius: 50%;
    display: inline-block;
}

/* ----- CARDS ----- */
.board { 
    display: grid;
    position: relative;
    grid-template-rows: repeat (4, 1fr);
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}

.board > article {
    box-shadow: 2px 2px 4px 0px  rgba(0,0,0,0.3);
}

article.card-item {
    width: 200px;
    height: 250px;
    background: #BDE3FF;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5%;
    position: relative;
    transform-style: preserve-3d;
}

article.card-item img {
    max-width: 80%;
}

.card-front, .card-back {
    position: absolute;
    transition: transform .6s;
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg);
    user-select: none;
}

.card-item.flip {
    transform: rotateY(180deg);
}
